/* Reset CSS */
@font-face {
  font-family: Lausanne;
  src: url("../font/TWKLausanne/TWKLausanne-350.woff") format("woff2");
}

@font-face {
  font-family: Neutronic;
  src: url("../font/Neutronic/NeutronicHangeul-Regularv0.3.woff2") format("woff2");
  unicode-range:U+AC00-U+D7A3;
}

@media (min-width: 770px) {
  #alert {
    display: none;
  }
}

html,
body {

  background-color: white;
  z-index: 1;
  /* font-size: 16px; */
  font-size: 10vh;
  font-family: 'Lausanne','Neutronic';
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #0274F7;
  color: white;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

a,
button,
input,
label {
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: black;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* em{
  text-decoration: solid underline purple 4px;
  text-decoration: wavy underline #0274F7 1.5px!important;
  text-underline-offset: 0.05rem;
  font-style: normal;
  text-decoration-thickness: 0.1%;
} */

.highlight {
  background-color:#FFE749;
}

.link{
  text-decoration: solid underline rgb(26, 26, 26) 2px;
  text-underline-offset: 0.05rem;
}

.link:hover{
  text-decoration: solid underline rgb(26, 26, 26) 2px;
  text-underline-offset: 0.05rem;
  color: #0274F7;
}

.footer{
  color:#EF3D47;
  z-index: 10000;
  font-size: 0.22rem;
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 0.35rem;
  text-align: right;
}
.grow {
  padding: 0 0px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.grow .item {
  box-sizing: border-box;
  flex-grow: 2;
  transition: width 0.6s ease;
  width: 0%;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  position: relative;
  overflow: hidden;
  color: white;

}

.grow .item:hover {
  /* transform: rotate(-1deg); */
  width: 5%;
  position: relative;
  /* transform-origin: 15% 1%; */
}

.item_open {

  transition-duration: 0.3s, 0.7s;
  transition-delay: 0.4s, 0.2s;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  width: 50%;
  height: 100vh;
  overflow: scroll;
}

.grow .item .text {
  /* 타이틀 */
  position: absolute;
  font-size: 4vw;
  /* font-weight: 800; */
  line-height: 120%;
  letter-spacing: -1px;
  color: #000;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
}

.grow .item_open .text {

  font-size: 4vw;
  /* font-weight: 800; */
  line-height: 120%;
  letter-spacing: -1px;
  color: #000;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
}

.grow .text:hover {

  opacity: 1;
  /* hyphens: auto; */
  font-size: 6.7vw;
  transition-duration: 0.3s, 0.7s;
  transition-delay: 0.4s, 0.2s;
}

.grow .item:before {

  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: currentColor;
  /* background-image: url("image.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5% 5%;
}

#main {
  background-color: #FFE749;
}

.title_content {
  overflow-y: scroll;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "about_text about_text"
    "randomWord";
  display: grid;
  color: #000; 
}

.grow .item .title_content {
  position: absolute;
  font-size: 4vw;
  line-height: 120%;
  letter-spacing: -1px;
  color: #000;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
}


.item_title {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;

  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  /* width: 7vw; */
  font-size: 9vh;
  padding: 10px 0px;
  /* background-color: gray; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  writing-mode: vertical-rl;
  transition: font-size 0.2s ease;
}

.item_title:hover {
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  font-size: 10vh;
  padding: 10px 0px;
  /* background-color: gray; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  writing-mode: vertical-rl;
}

#item_title_hhha,
#item_title_alphabet,
#item_title_about,
#item_title_contact{
  cursor: pointer;
}

#HHHA_text {

  padding: 0%;
  margin: 0;
}

#about_text {

  color: black;
  /* background-color: #FFE447; */
  font-size: 1.4vw;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  /* letter-spacing: 0px;
  margin-left: 30px;
  width: 650px; */
  line-height: 145%;
  /* padding-left: 3%;
    padding-right: 3%; */
}

.contact_form{
  margin-top: 0%;
  margin-left: 0%;
  grid-template-columns: 1fr 1fr;
  display: grid;
  position: relative;
  height: 100vh;
}

.grow .item_open .contact_form{
  margin-top: -2.5%;
  margin-left: 3%;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

#emailLabel, #messageLabel{
  font-size: 0.3rem;
  margin-bottom: 3px;
}

#emailInput{
  width: 22vw;
  height: 5vh;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  padding: 5%;
  font-size: 0.3rem;
  margin: 2%;
  /* background-color: #FFE749; */
}

#messageInput{
  width: 22vw;
  height: 40vh;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  padding: 3%;
  font-size: 0.3rem;
  margin: 2%;
  /* background-color: #FFE749; */
}

#sendButton{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.3rem;
  font-family: 'Lausanne','Neutronic';
  /* margin-top: -5%; */
  position: absolute;
  border-radius: 25px;
  /* color: white; */
  background-color: #FFE749;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  border: 0px solid black;
  padding: 2%;
  width: 6vw;
}


/* 아래부터 나리 */

.grow .item .content {

  position: absolute;
  font-size: 4vw;
  /* font-weight: 800; */
  line-height: 120%;
  letter-spacing: -1px;
  color: #000;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
  cursor: pointer;
  /* box-shadow: 0 0 20px rgb(0, 0, 0); */
}


.grow .item .content:hover {

  opacity: 1;
  /* hyphens: auto; */
  font-size: 6.7vw;
  transition-duration: 0.3s, 0.7s;
  transition-delay: 0.4s, 0.2s;
}

.grow .item_open .content{

  font-size: 4vw;
  /* font-weight: 800; */
  line-height: 120%;
  letter-spacing: -1px;
  color: #000;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* width: 100%; */
  text-align: left;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-delay: 0;
  transition-timing-function: linear, ease;
  /* box-shadow: 0 0 20px rgb(0, 0, 0); */
  cursor: pointer;
}


.desText, .Text, .Name{

  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1vw;
  /* font-weight: 800; */
  line-height: 120%;
}

.desContainer {

  position: relative;
  background-color: white;
  z-index: 99;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: -1%;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
}

.Text{

  margin-left: 3%;
}

.Name{

  margin-left: 20%;
}

.word{
  margin-left: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
.footer{
  color:#EF3D47;
  z-index: 10000;
  font-size: 0.22rem;
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 0.35rem;
  text-align: right;
}


/* A - Z */
#audience, #birthday, #coincidence, #divorce, #enlarge, #fool, #herb, #meeting, #organize, #part, #reservoir, #sector, #tick, #utilize, #width{

  position: relative;
  z-index: 999;
  background-color: white;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
}

#audience_container, #birthday_container, #coincidence_container,
#divorce_container, #enlarge_container, #fool_container, #herb_container, #meeting_container, #organize_container, #part_container, #reservoir_container, #sector_container, #tick_container, #utilize_container, #width_container{
  position: relative;
  z-index: 999;
  background-color: white;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
}

#A_Naree, #A_Dahyun_1, #A_Dahyun_2, #A_ete, #A_Sungeun, #A_Jieun,
#B_ete, #B_Naree, #B_Dahyun, #B_Jieun,
#C_ete, #C_Dahyun, #C_Naree_1, #C_Naree_2,
#D_Chowon, #D_Jungsu, #D_Dahyun, #D_Eunju, #D_Gahyun, #D_Yunseo, #D_Sujin,
#E_Dahyun, #E_Naree,
#F_Dahyun, #F_ete, #F_Naree,
#M_Eunju, #M_Yunseo, #M_Naree, #M_Chowon, #M_Jungsu, #M_Sujin,
#O_Eunju, #O_Chowon, #O_Jungsu, #O_Yunseo, #O_Dahyun, #O_Sujin,
#P_Plant, #P_Speaker,
#R_ete, #R_Naree,
#S_Dahyun_1, #S_Dahyun_2, #S_Dahyun_3, #S_Jieun,
#T_Yunseo, #T_Naree,
#U_Gahyun, #U_Yunseo, #U_Jungsu, #U_Dahyun, #U_Eunju, #U_Sujin,
#W_Naree, #W_ete, #W_Dahyun{

  grid-template-columns: 2fr 1.3fr 0.7fr;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: -3%;
  margin-bottom: 3%;
  padding-top: 3%;
  background-color: white;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  position: relative;
}

#A_Naree, #B_ete, #C_ete, #D_Chowon, #E_Dahyun,
#F_Dahyun, #M_Eunju, #O_Eunju, #P_Plant, #R_ete,
#S_Dahyun_1, #T_Yunseo, #W_Naree, #U_Gahyun{

  z-index: 10;
}

#A_Dahyun_1, #B_Naree, #C_Dahyun, #D_Jungsu, #E_Naree,
#F_ete, #M_Yunseo, #O_Chowon, #P_Speaker, #R_Naree,
#S_Dahyun_2, #T_Naree, #W_ete, #U_Yunseo{

  z-index: 9;
}

#A_Dahyun_2, #B_Dahyun, #C_Naree_1, #D_Dahyun,
#F_Naree, #M_Naree, #O_Jungsu, #S_Dahyun_3,
#W_Dahyun, #U_Jungsu{

  z-index: 8;
}

#A_ete, #B_Jieun, #C_Naree_2, #D_Eunju, #M_Chowon,
#O_Yunseo, #S_Jieun, #U_Dahyun{

  z-index: 7;
}

#A_Sungeun, #M_Jungsu, #D_Gahyun, #O_Dahyun, #U_Eunju{
  z-index: 6;
}

#A_Jieun, #M_Sujin, #D_Yunseo, #O_Sujin, #U_Sujin{
  z-index: 5;
}

#D_Sujin{
  z-index: 4;
}

@media (max-width: 770px) {

  .grow {
    display: none;
  }
  #container {
    background-color: #FFE749;
  }

  #alert{
    font-family: 'Lausanne','Neutronic';
    font-size: 4vw;
    text-align: center;
    margin-top: 4rem;
    /* color: #EF3D47; */
    color: #0274F7;
  }
  a{
    display: none;
  }
  .footer {
    display: none;
  }
}
