/* Reset CSS */
@font-face {
  font-family: Lausanne;
  src: url("../font/TWKLausanne/TWKLausanne-450.ttf") format("truetype-variations");
}
@font-face {
  font-family: Neutronic;
  src: url("../font/Neutronic/NeutronicHangeul-Regularv0.3.woff2");
}

html, body {
  z-index: 1;
  /* font-size: 16px; */
  font-size: 10vh;
  font-family: 'Lausanne';
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow: hidden;
}

a, button, input, label {
  cursor: pointer;
}

a{
  text-decoration-line: none;
  color: black;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_menu{
  position: relative;
}

.menu{
  position: absolute;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  width: 300px;
  writing-mode: vertical-lr;
  font-size: 10vh;
  padding: 10px 0px;
  background-color: white;
  border-radius: 20px;
}

#HHHA_contents, #About_contents, #Contact_contents, #Alphabetproj_contents{
  background-color: white;
  height: 100vh;
  position: absolute;
  box-shadow: 1px 0px 10px 0px rgb(61, 61, 61);
  overflow: scroll;
}


/* Menu: HHHA */
.HHHA_container{
  margin-left: 0%;
  position: relative;
}

#HHHA{
  margin-left: 20px;
  margin-top: 1%;
  z-index: 0;
}

#HHHA_contents{
  margin-top: 0px;
  margin-left: 110px;
  width: 90vw;
  z-index: 1;
  padding: 10px 20px;
}

h1{
  margin: 0;
  font-size: 13vh;
  font-family: 'Lausanne';
}

/* Menu: About */
.About_container{
  margin-left: 0%;
  position: relative;
}

#About{
  z-index: 2;
  margin-left: 760px;
  margin-top: 8%;
}

#About_contents{
  margin-top: 0px;
  margin-left: 850px;
  z-index: 3;
  width: 90vw;
}


/* Menu: Contact */
.Contact_container{
  margin-left: 0%;
  position: relative;
}

#Contact{
  z-index: 4;
  margin-left: 850px;
  margin-top: 11%;
}

#Contact_contents{
  margin-top: 0px;
  margin-left: 930px;
  z-index: 5;
  width: 90vw;
}

/* Menu: Alphabetproj */
.Alphabetproj_container{
  margin-left: 0%;
  position: relative;
}

#Alphabetproj{
  z-index: 6;
  margin-left: 930px;
  margin-top: 15%;
  /* border: 2px solid coral; */
}

#Alphabetproj_contents{
  margin-top: 0px;
  margin-left: 1020px;
  z-index: 7;
  width: 90vw;
}