/* Reset CSS */
@font-face {
  font-family: Lausanne;
  src: url("../font/TWKLausanne/TWKLausanne-450.ttf") format("truetype-variations");
}
@font-face {
  font-family: Neutronic;
  src: url("../font/Neutronic/NeutronicHangeul-Regularv0.3.woff2");
}

html, body {
  background: #fff;
  z-index: 1;
  /* font-size: 16px; */
  font-size: 10vh;
  font-family: 'Lausanne';
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, input, label {
  cursor: pointer;
}

a{
  text-decoration-line: none;
  color: black;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_menu{
  position: relative;
}

.menu{
  position: absolute;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 3px;
}

#menu_HHHA{
  margin-left: 0;
  margin-top: 5%;
  font-size: 10vh;
  /* border: 2px solid coral; */
  transform: rotate(-90deg);
}

#menu_About{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 10vh;
  /* border: 2px solid coral; */
  transform: rotate(-90deg);
}

#menu_Contact{
  margin-left: 15%;
  margin-top: 7%;
  font-size: 10vh;
  /* border: 2px solid coral; */
  transform: rotate(-90deg);
}

#menu_Alphabetproj{
  margin-left: 20%;
  margin-top: 15%;
  font-size: 10vh;
  /* border: 2px solid coral; */
  transform: rotate(-90deg);
}