/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

@font-face {
  font-family: 'TWKLausanne-300';
  src: url('TWKLausanne-300.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}
@media (min-width: 943px) {
  #alert {
    display: none;
  }

body {
  z-index: 0;
  font-family: 'TWKLausanne-300', Fallback, sans-serif;
  background-color: rgb(190, 190, 190);
  color: black; /*rgb(255, 246, 110); rgb(172, 74, 254); rgb(187, 187, 187)*/
  text-align: center;
  background-size: 106%;
  background-repeat: no-repeat;
  background-position-x: 39%;
  background-position-y: -1%;
  /* background-image: url('postItVideo_3.gif');
  background-size: 100%;
  background-repeat: no-repeat; */
}

a{
  z-index: 2;
  cursor: pointer;
}

#week{
  font-size: 4vw;
  margin: 0;
  color: black;
  text-decoration: none;
  position: fixed;
  transform: rotateZ(-6.6deg);
  top: 14%;
  left: 4.5%;
}

#loader{
  z-index: 1;
  margin-top: 30vh;
  font-size: 16vw;
  color: black;
  cursor: pointer;
  /* mix-blend-mode: difference; */
}
/* 싱크 고치기 + 글자 넘어가는 것 고치기*/

/* 
#hej{ 
  position: absolute;
  top: 20px;
  width: 80px;
  height: 80px;
  background-color: rgb(255, 246, 110);
  border-radius: 50%;
  cursor: pointer;
} */

p{
  font-size: 1.3vw;
  position: fixed;
  top: 93%;
  right: 2%;
  color: #EF3D47;
  z-index: 10000;
  bottom: 0;
  text-align: right;
  /* mix-blend-mode: difference; */
  /* transform: rotateZ(-6.6deg); */
}

}

@media (max-width: 943px) {
  body{
    background-color: rgb(0, 0, 0);
  }
  #alert{
    font-family: 'TWKLausanne-300', Fallback, sans-serif;
    font-size: 5vw;
    text-align: center;
    color: rgb(255, 246, 110);
  }
  a{
    display: none;
  }
}
